.pics {
    display: flex;
    flex-wrap: wrap;
}

/* ul {
    padding: 0px;
} */

a {
    text-decoration: none;
    color: inherit;
}
.counter {
    display: flex;
}

p {
    font-size: 30px;
}
.js-increment,
.js-decrement {
    font-size: 30px;
    margin: 20px;
    padding: 40px 50px;
    border-radius: 50%;
    background-color: antiquewhite;
}

.js-increment:hover,
.js-decrement:hover {
    background-color: rgb(205, 215, 255);
}
.accent {
    color: #ffffff;
}


.site-nav__item--current {
    color: tomato;
}

.site-nav__item--currents {
    color: blue;
}

.site-nav__item--currents:hover {
    color: rgb(26, 255, 0);
}

.ptashka {
    color:rgb(27, 102, 172);
}

.nav-menu {
    display: flex;
    flex-wrap: nowrap;
}

.item1 {
    margin-right: 20px;
}

button {
    padding: 10px 30px;
    border-radius: 20px;
    margin-right: 10px;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: black;
}

.first-child {
    color: red;
    background-color: blue;
}

.second-child {
    background-color: greenyellow;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

img {
    margin-right: 20px;
    border-radius: 80px;
}
.list {
    display: flex;
    flex-direction: column;
}

.list-item {
    border: dashed 2px red;
    margin-bottom: 16px;
    width: 100px;
    text-align: center;
    font-weight: 700;
    color: blue;
    background-color: yellow;
}